  body {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1em;
      -webkit-text-size-adjust: none;
  }

  input,
  textarea,
  select {
      font-size: 100%;
      font-family: inherit;
  }

  html,
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  form,
  button,
  dl,
  dt,
  dd,
  input,
  textarea {
      margin: 0;
      -webkit-box-sizing: border-box;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      word-wrap: break-word;
      word-break: break-all;
      padding: 0;
      margin: 0;
  }

  h4,
  h5,
  h6 {
      font-size: 1em;
  }

  ul,
  ol {
      padding-left: 0;
      list-style-type: none;
  }

  img {
      border: 0;
  }

  a {
      text-decoration: none;
      outline: none;
  }

  input,
  textarea {
      outline: none;
      -webkit-appearance: none;
      border-radius: 0;
  }

  i {
      font-style: normal;
  }

  button {
      outline: none;
      border: none;
      background: none;
  }

  html {
      height: 100%;
  }

  input,
  textarea {
      border: 1px solid #C6C6C6;
      padding: 3px;
  }

  input {
      box-sizing: border-box;
  }

   ::-webkit-input-placeholder {
      color: #bfbfbf;
  }

  .fr {
      float: right;
  }

  .fl {
      float: left;
  }

  .hidden {
      display: none;
  }

  .unvisialbe {
      visibility: hidden;
  }

  .clear {
      clear: both;
  }

  .clearfix:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0;
  }

  .clearfix {
      zoom: 1
  }

  .mask {
      position: absolute;
      position: fixed;
      z-index: 10000;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.5);
  }

  .simpledialog {
      position: absolute;
      z-index: 10001;
      width: 305px;
      background-color: #fff;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      -ms-boder-radius: 3px;
  }

  .tipdialog {
      position: absolute;
      z-index: 10001;
      transition: opacity 300ms linear;
      -webkit-transition: opacity 300ms linear;
      width: 100%;
      text-align: center;
      opacity: 0;
  }

  .tipdialog-content {
      padding: 10px 12px;
      font-size: 17px;
      line-height: 100%;
      text-align: center;
      color: #ffffff;
      background-color: rgba(0, 0, 0, 0.7);
      display: inline-block;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      -ms-boder-radius: 3px;
  }

  .tipdialog-content .icon-tick {
      color: #53c123;
      vertical-align: -1px;
  }

  .tipdialog-content .icon-cross {
      color: red;
      vertical-align: -1px;
  }

  .borderradius-3 {
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      -ms-boder-radius: 3px;
      -o-boder-radius: 3px;
  }

  .combtn {
      border: 0;
      text-align: center;
      cursor: pointer;
      color: #FFFFFF;
      background-color: #FF6900;
      -webkit-appearance: none;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      -ms-boder-radius: 3px;
      -o-boder-radius: 3px;
      border-radius: 3px;
  }

  .btn-invalid {
      color: #ddd !important;
      background-color: #898989 !important;
  }

  body {
      width: 100%;
      overflow-x: hidden;
      background: #fadf75;
      color: #341e00;
  }

  .wrapper {
      max-width: 12rem;
      overflow: hidden;
      margin: 0 auto;
      padding-bottom: 1rem;
  }

  .t-banner {
      position: relative;
  }

  .t-banner img {
      display: block;
      width: 100%;
  }

  .content1 {
      width: 90%;
      margin: 0 auto;
  }

  input[type='text'],
  input[type='tel'],
  input[type='number'] {
      margin-top: 10px;
      height: 1.5rem;
      width: 100%;
      border: none;
      font-size: .52rem;
      text-align: left;
      padding-left: 10px;
      border-radius: 4px;
  }

  input[type='number'] {
      width: 60%;
  }

  #codeBtn {
      font-size: 45%;
      height: 1.5rem;
      width: 35%;
      float: right;
      margin-top: 10px;
      text-align: center;
      background: rgb(255, 63, 38);
      color: white;
      /* margin-left: 3%; */
      display: inline-block;
      line-height: 1.5rem;
      border-radius: 5px;
  }

  input[type='text']::-webkit-input-placeholder,
  input[type='tel']::-webkit-input-placeholder {
      color: #a9a9a9;
      text-align: left;
  }

  .combtn {
      display: block;
      background-color: #fe4d3d;
      color: #fff;
      font-size: .6rem;
      height: 1.5rem;
      width: 100%;
      margin: .0rem auto 0;
      border-radius: 4px;
  }

  a.combtn:link,
  a.combtn:visited {
      color: #fff;
  }

  a.combtn:hover {
      color: #fff;
  }

  .combtn-hover {
      background: #fb2613;
  }

  .capture-tip {
      color: #fff;
      font-size: .6rem;
      margin-top: .2rem;
  }

  .sec-sub-title {
      line-height: 1rem;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAgkAAAABAQMAAABuYK//AAAABlBMVEVdQDUAAACKcfI8AAAAAnRSTlMzAIL4qAgAAAAVSURBVAjXY2hgQAfy/3GDAwwYoAEAySocxUiGKqkAAAAASUVORK5CYII=) no-repeat;
      background-size: 100% auto;
      background-position: 0px;
      font-size: .53rem;
      color: #333333;
      text-align: center;
      font-weight: normal;
      margin: 0 auto;
      margin-top: 0.25rem;
      width: 93%;
  }

  .rule {
      margin: 0 auto;
  }

  .rule ul {
      width: 90%;
      margin: 0 auto;
  }

  .rule li {
      font-size: .45rem;
      line-height: .58rem;
      margin-bottom: .28rem;
      margin-top: .28rem;
      color: #333333;
  }

  .rule li .toggle-help {
      color: #CB120E;
      font-weight: normal;
  }

  .result .result-inner {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      min-height: 3.2rem;
      background: url(https://xs01.meituan.net/waimai_c_activity_web/img/resource/red-enve2/result-bg.c1682c6b.png) no-repeat;
      background-size: 100% 100%;
      text-align: center;
      margin: .21rem 0.4rem 0;
      padding: 0.36rem 0.4rem 0;
      position: relative;
  }

  .result-title {
      font-size: .53rem;
      text-align: left;
      margin-bottom: 0.1rem;
  }

  .result-sub-title {
      font-size: .45rem;
      color: #666;
      text-align: left;
      float: left;
      line-height: .6rem;
  }

  .result .success,
  .result .success a {
      color: #ef361e;
      position: relative;
  }

  .result .success a {
      display: block;
  }

  .result .number .rmb {
      font-size: .86rem;
      font-style: normal;
      font-weight: bold;
  }

  .result .number {
      line-height: 1.8rem;
      height: 1.6rem;
      margin-bottom: .23rem;
  }

  .couponname {
      height: 1.6rem;
      margin-top: 0.14rem;
  }

  .result .number i {
      font-size: 1.57rem;
      font-style: normal;
      margin-left: -0.3rem;
      white-space: nowrap;
  }

  .success .result-sub-title i {
      font-size: .6rem;
  }

  .result .result-inner-usepri i {
      font-size: 2.1rem;
      font-style: normal;
      font-weight: bold;
  }

  .result-inner-usepri .number {
      margin-top: -0.1rem;
  }

  .info {
      text-align: center;
      width: 90%;
      margin: 0 auto;
  }

  .info .modification {
      color: #e31830;
  }

  .info .goupd {
      color: #e01933;
      margin-left: .1rem;
  }

  .downloadbtn,
  .gotobtn {
      width: 93%;
  }

  .downloadbtn {
      margin: 0px auto;
  }

  .dlbtn {
      background-color: #fff;
      color: #333;
      line-height: 1.5rem;
  }

  .gotobtn {
      line-height: 1.5rem;
      color: #333333;
  }

  .result .fail-over,
  .result .fail-expire,
  .result .result-gray,
  .result .result-red {
      padding-top: 0.8rem;
      font-weight: bold;
      color: #ccc;
      font-size: 0.78rem;
  }

  .info {
      font-size: .45rem;
      margin-bottom: .3rem;
  }

  .user-phone {
      color: #ef361e;
  }

  .result-gray .info,
  .result-red .info {
      font-size: 0.41rem;
      line-height: 0.6rem;
      color: #ccc;
  }

  .result-red .info {
      line-height: 1rem;
  }

  .result-red {
      padding-top: 0.8rem;
      font-weight: bold;
      font-size: 0.8rem;
      color: #ef361e;
  }

  .help-main {
      margin-top: .93rem;
  }

  .friends {
      margin-top: .7rem;
  }

  .friends-list {
      width: 90%;
      margin: .19rem auto 0;
  }

  .friend {
      border-top: 1px solid rgba(93, 64, 53, 0.2);
      padding: .386rem 0;
  }

  .friend:first-child {
      border-top: none;
  }

  .phoneverifier em {
      font-style: normal;
  }

  .phoneverifier-title {
      text-align: center;
      font-size: 17px;
  }

  .phoneverifier-desc {
      font-size: 12px;
      color: #aaaaaa;
      text-align: center;
      margin-top: 5px;
  }

  .phoneverifier-tel {
      font-size: 14px;
      color: #656565;
      background: url('https://xs01.meituan.net/waimai_c_activity_web/img/icons/tel.png') no-repeat;
      background-size: 12px;
      padding-left: 18px;
      margin-top: 10px;
      margin-left: 7px;
  }

  .phoneverifier-codewrap {
      margin-top: 12px;
      position: relative;
  }

  .phoneverifier-codewrap .icon {
      font-size: 17px;
      position: absolute;
      top: 8px;
      left: 137px;
  }

  .phoneverifier-codewrap-inline .icon {
      top: 11px;
      left: 60%;
  }

  .phoneverifier-codeinput {
      height: 1.5rem;
      width: 162px;
      font-size: 0.52rem;
      border: none;
      padding: 3px 10px;
      vertical-align: top;
      border-radius: 4px;
  }

  .phoneverifier-codesend {
      width: 30%;
      height: 1.5rem;
      line-height: 40px;
      font-size: 0.45rem;
      vertical-align: top;
      float: right;
      margin-top: 0;
      background-color: #ffd603;
      color: #6b450a;
      border-radius: 4px;
  }

  .phoneverifier-btn {
      display: block;
      width: 100%;
      height: 1.5rem;
      font-size: 20px;
      margin-top: 20px;
      background-color: #ffd603;
      color: #6b450a;
  }

  .phoneverifier-codesend-red,
  .phoneverifier-btn-red {
      background-color: #fe4d3d;
      color: #fff;
  }

  .phoneverifier-sub {
      margin-top: 15px;
      font-size: 12px;
      color: #898989;
  }

  .phoneverifier-voice {
      color: #ffd603;
      text-decoration: underline;
  }

  .phoneverifier-voice-red {
      color: #ef361e;
  }

  .phoneverifier-voice-disable {
      color: inherit;
  }

  .phoneverifier-dialingtip {
      font-size: 11px;
      color: #898989;
      text-align: left;
      width: 90%;
      margin: 0 auto;
      margin-top: 8px;
  }

  .phoneverifier-informtip {
      font-size: 12px;
      margin-top: 5px;
  }

  .phoneverifier-informtip a {
      color: #ff6900;
  }

  .phoneverifier-protocol {
      font-size: 12px;
      color: #898989;
  }

  .phoneverifier-protocol a {
      color: #898989;
      text-decoration: underline;
  }

  .phoneverifier-protocol i {
      display: block;
      float: left;
      width: 12px;
      height: 12px;
      border: 1px solid #898989;
      border-radius: 50%;
      margin-right: 3px;
      position: relative;
      top: 3px;
  }

  .phoneverifier-protocol-inline i {
      float: none;
      display: inline-block;
  }

  .phoneverifier-protocol i em {
      display: block;
      width: 7px;
      height: 4px;
      border-left: 1px solid #898989;
      border-bottom: 1px solid #898989;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      transform: rotate(-45deg);
      margin-top: 3px;
      margin-left: 2px;
  }

  .wx-tip {
      position: absolute;
      position: fixed;
      z-index: 10000;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: url("https://xs01.meituan.net/waimai_c_activity_web/img/wx_tip.png") no-repeat;
      -webkit-background-size: 100% auto;
      -moz-background-size: 100% auto;
      background-size: 100% auto;
  }

  .mask {
      background: rgba(0, 0, 0, 0.7);
  }

  .content-bg {
      width: 100%;
      margin: 0px auto;
      background: rgba(255, 255, 255, 0.6);
      border-radius: 5px;
      padding: .3rem 0px;
  }

  .margin-gap {
      margin-top: .3rem;
  }

  .padding-no-gap {
      padding-top: 0;
  }

  .picyzm-title {
      font-size: 18px;
      text-align: center;
      margin-top: 10px;
      font-weight: bold;
  }

  .picyzm-tip {
      color: #d4d4d4;
      font-size: 13px;
      margin: 10px 0px;
      text-align: center;
  }

  .picyzm-pic {
      width: 90px;
      height: 30px;
      float: left;
      border: 1px solid #d4d4d4;
      margin-left: 10px;
      background-repeat: no-repeat;
      background-size: 90px 30px;
  }

  .picyzm {
      width: 85%;
      margin: 0px auto;
  }

  .picyzm .picyzm-contect {
      width: 90px;
      height: 30px;
      float: left;
      margin-left: 30px;
      border: 1px solid #d4d4d4;
      color: #333;
      font-size: 16px;
  }

  .picyzm-submit {
      width: 80%;
      height: 35px;
      background-color: #fe4d3d;
      color: #ffffff;
      margin: 15px auto;
      border-radius: 3px;
      font-size: 16px;
      text-align: center;
      line-height: 35px;
  }

  .picyzm-close {
      color: #a4a4a4;
      font-size: 26px;
      position: absolute;
      right: 7px;
      top: 3px;
      width: 30px;
      text-align: right;
  }

  .picyzm-error {
      width: 80%;
      margin: 0px auto;
      margin-top: 8px;
      font-size: 12px;
      color: #ff0000;
  }

  .phoneverifier-animateShow {
      transition: .6s;
      -webkit-transition: .6s;
      opacity: 0;
  }

  .result-bottom {
      clear: both;
      border-top: 1px dashed #eaeaea;
      color: #a9a9a9!important;
      font-size: .4rem!important;
      line-height: 0.5rem;
      padding: 0.2rem 0;
      text-align: left;
  }

  .result-meituan {
      background: #fad100;
      color: #733e04;
      font-size: 0.38rem;
      height: .6rem;
      line-height: .6rem;
      float: left;
      border-radius: 3px;
      padding: 0 5px;
      margin-right: 0.13rem;
  }

  .result i.coupon-price-float {
      font-size: 0.86rem;
  }

  .result .info {
      color: #a9a9a9!important;
      font-size: .3rem!important;
      line-height: 0.65rem;
      text-align: center;
      width: 100%;
  }

  .result .result-red {
      color: #ef361e;
      font-size: 0.51rem;
  }

  .result .result-inner-nobottom {
      padding-top: 0.7rem;
  }

  .result .coupons-more {
      margin: .21rem 0.4rem 0;
      background-color: white;
      border-radius: 4px;
      font-size: .45rem;
      color: #666;
      text-align: center;
      line-height: 1rem;
      min-height: 1rem;
  }

  .result .recommand-logo {
      width: 0.45rem;
      height: 0.45rem;
      object-fit: cover;
      vertical-align: middle;
  }

  .result .recommand-msg {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 7rem;
      vertical-align: middle;
      display: inline-block;
  }

  .result .coupons-condition {
      display: table-cell;
      vertical-align: middle;
      width: 7.7rem;
  }

  .result .coupons-link {
      display: table-cell;
      vertical-align: middle;
      padding-left: 0.3rem;
      width: 1.8rem;
      color: #ef361e;
  }

  .result .poi-coupons,
  .normal-coupons {
      cursor: pointer;
  }

  .coupons-more-arrow {
      position: relative;
      top: 0.2rem;
      left: -0.1rem;
      height: 0.6rem;
  }

  .result-inner-nobottom .couponname {
      line-height: 0.8rem
  }

  .err-msg {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      -webkit-transform: translate(0, -50%);
      left: 0;
      text-align: center;
      width: 100%;
  }

  .err-short-msg {
      font-size: 1.1rem;
  }

  .err-short-msg:before {
      display: block;
      content: '';
      height: 1px;
      background: #ccc;
      top: 50%;
      width: 1.5rem;
      left: 2rem;
      position: absolute;
  }

  .err-short-msg:after {
      display: block;
      content: '';
      height: 1px;
      background: #ccc;
      top: 50%;
      width: 1.5rem;
      right: 2rem;
      position: absolute;
  }

  .comment_ul {
      padding: 0 5%;
  }

  .comment_li {
      border-bottom: 1px solid rgba(93, 64, 53, 0.2);
      padding: 0.3125rem 0;
      color: #45322b;
  }

  .comment_usr_pic {
      width: 1.125rem;
      float: left;
      border-radius: 50%;
      margin-right: 0.28125rem;
  }

  .comment_usr_name {
      font-size: .45rem;
      line-height: 0.625rem;
  }

  .comment_usr_status {
      font-size: 0.38rem;
      line-height: 0.525rem;
      color: #65544e;
  }

  .comment_amount {
      font-size: 0.5rem;
      color: #45322b;
      text-align: right;
      line-height: 0.84375rem;
  }

  .comment_best .comment_amount {
      line-height: 0.625rem;
  }

  .comment_amount_best {
      font-size: 0.37rem;
      color: #ef361e;
      line-height: 0.625rem;
      text-align: right;
      overflow: hidden;
      padding-left: 15px;
  }

  .comment_amount_best:after {
      content: "";
      float: left;
      height: 0.46875rem;
      width: 0.46875rem;
      background: url('https://xs01.meituan.net/waimai_c_activity_web/img/crown.a926d0e1.png') no-repeat;
      background-size: 100% auto;
      background-position: 0px;
      margin-right: 5px;
  }

  .comment_li:last-child {
      border: none;
  }

  .red {
      color: #ef361e;
  }

  .data-img,
  .data-img img {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 100%;
      display: block;
      float: left;
      object-fit: cover;
  }

  .zhe {
      font-style: normal;
      display: block;
      float: right;
      margin-top: -0.3rem;
      font-size: 0.6rem!important;
  }

  .other-title {
      font-size: .2rem;
  }

  .jin {
      height: 1.6rem;
      padding-top: .1rem;
  }

  .jiner {
      padding-left: .3rem;
  }

  .shenlue {
      max-width: 4.5rem;
      margin-left: 0.3rem;
  }

  .shenlue .result-title {
      max-width: 5rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
  }

  .noshenlue {
      max-width: 5.9rem;
  }

  .noshenlue .result-title {
      max-width: 4.5rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
  }

  .result i.mm {
      font-size: 1.57rem;
  }

  .youhui {
      font-size: .45rem;
      color: #666;
  }

  .geo-location {
      padding-top: 1.6rem;
      font-size: 0.4rem;
  }

  .ad-flag {
      background-color: #000000;
      opacity: 0.4;
      position: absolute;
  }

  .ad-flag-text {
      bottom: 0.38rem;
      right: 2.5%;
  }

  .ad-text {
      font-size: 13px;
      color: #ffffff;
      transform: scale(0.8, 0.8);
  }

  .ad-video-duration {
      bottom: 0.38rem;
      left: 2.5%;
      border: 1px white solid;
      padding: 2px 1px;
  }

  .ad-video-text {
      position: absolute;
      right: 0.5rem;
      top: 0.56rem;
      border-radius: 1rem;
      background-color: #FFD161;
      font-size: 0.45rem;
      color: #333;
      padding: 0.15rem 0.35rem;
      z-index: 110;
      cursor: pointer;
  }

  .ad-video-play {
      width: inherit !important;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -26px;
      margin-top: -26px;
      cursor: pointer;
  }

  .ad-video {
      left: 0;
      display: none;
      width: 100%;
      z-index: 101;
      margin-bottom: 20px;
  }

  .toast-base {
      position: fixed;
      top: 50%;
      left: 50%;
      border-radius: 5px;
      overflow: hidden;
      z-index: 998
  }

  .toast-base .toast-background {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, .6);
      z-index: -1
  }

  .toast-base .toast-content {
      padding: 15px 20px;
  }

  .toast-base .toast-icon {
      display: block;
      margin: 0 auto 14px;
      width: 50px;
      height: 50px;
      background: url(../img/toast-icon.png) no-repeat;
      background-size: 50px auto;
      background-position-x: center
  }

  .toast-base .toast-text {
      margin: 0;
      line-height: 20px;
      text-align: center;
      font-size: 16px;
      color: #fff;
      max-width: 200px
  }

  .toast-success .toast-icon {
      background-position-y: 0
  }

  .toast-error .toast-icon,
  .toast-warn .toast-icon {
      background-position-y: -73px
  }

  .toast-fade {
      -webkit-animation: fade .5s linear;
      animation: fade .5s linear
  }

  @-webkit-keyframes fade {
      0% {
          opacity: 1
      }
      100% {
          opacity: 0
      }
  }

  @keyframes opacity {
      0% {
          opacity: 1
      }
      100% {
          opacity: 0
      }
  }

  .help-list ul li span {
      text-align: center;
      display: inline-block;
  }

  .help-list ul li span.name {
      width: 40%;
      text-align: left;
  }

  .help-list ul li span.status {
      width: 20%;
  }

  .help-list ul li span.date {
      width: 35%;
      text-align: right;
  }
