<html lang="en">

<head>
    <title>Matrix Admin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css"> -->
    <link rel="stylesheet" href="/static/css/matrix-style.css">
    <link rel="stylesheet" href="/static/css/matrix-media.css">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/js/webuploader/webuploader.css">
    <link rel="stylesheet" type="text/css" href="/static/lib/toast/jquery.toast.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/webuploader/webuploader.nolog.js"></script>
    <script src="/static/lib/jscolor/jscolor.min.js"></script>
    <style>
        table td.center {
            text-align: center;
        }
        
        table td i.fa {
            margin-right: 8px;
            font-size: 14px;
        }
        
        label {
            min-height: 35px;
            margin: 10px;
        }
        
        label span {
            display: inline-block;
            height: 35px;
            line-height: 35px;
            vertical-align: top;
            min-width: 100px;
            text-align: center;
        }
        
        label input {
            height: 35px!important;
            border-radius: 3px!important;
        }
        
        #uploader {
            display: inline-block!important;
        }
        
        #uploader .btns {
            display: inline-block!important;
        }
        
        #uploader #picker,
        #uploader #picker1 {
            display: inline-block!important;
        }
        
        .btn,
        .btn:hover {
            vertical-align: top;
            width: 70px;
            height: 32px;
            background: #00b7ee;
            color: white;
            line-height: 32px;
            outline: none;
            border: none;
            border-radius: 3px;
        }
        
        .creatActivity {
            box-sizing: content-box;
        }
    </style>
</head>

<body>
    <div id="header">
        <h1>运营管理后台</h1>
    </div>
    <%include inc/sidebar.html%>
        <div id="content">
            <div id="content-header">
                <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>管理后台</a> <a href="#" class="current">活动配置</a> </div>
                <h1>创建活动</h1>
            </div>
            <div class="container-fluid">
                <form>

                    <label for="title">
                      <span>活动名称</span>
                      <input type='text' name='title' class='title' required>
                  </label>
                    <label for="descption">
                      <span>活动描述</span>
                      <input type='text' name='descption' class='descption'  required>
                      <div class='btn addDesc'>增加描述</div>
                  </label>
                    <label for="shareTitle">
                      <span>二次分享描述</span>
                      <input type='text' name='shareTitle' class='shareTitle'>
                  </label>
                    <label for="picUrl">
                      <span>活动图片</span>
                      <div id="uploader" class="wu-example">
                          <!--用来存放文件信息-->
                          <div id="list" class="uploader-list"></div>
                          <div class="btns">
                              <div id="picker">上传图片</div>
                              <!-- <div id="ctlBtn" class="btn btn-default" data-id='1'>开始上传</div> -->
                          </div>
                      </div>
                  </label>
                    <label for="shareIcon">
                      <span>二次分享icon</span>
                      <div id="uploader" class="wu-example">
                          <!--用来存放文件信息-->
                          <div id="list1" class="uploader-list"></div>
                          <div class="btns">
                              <div id="picker1">上传图片</div>
                              <!-- <div id="ctlBtn" class="btn btn-default" data-id='2'>开始上传</div> -->
                          </div>
                      </div>
                  </label>
                    <label for="descption">
                      <span>活动背景色</span>
                      <input type='text' name='background' class='background' placeholder='16进制 例 #39da81'>
                  </label>

                    <label>
                        <button class="jscolor {valueElement:'chosen-value'}">
                            Pick text color
                        </button>
                     HEX value: <input id="chosen-value" value="000000">
                    </label>
                    <div class='btn creatActivity'>创建活动</div>
                </form>
            </div>
        </div>
        <script src="/static/js/bootstrap.min.js"></script>
        <script>
            (function() {
                var lis = document.querySelectorAll('#sidebar>ul>li');
                lis[3].className = 'active';
            })();
        </script>
        <script>
            $('.addDesc').click(function() {
                $('<input type="text" name="descption" class="descption" required="">').insertBefore($(this));
            })
            var type = 1;
            var activityUrl, shareIcon;
            var $list = $('#list');
            var $list1 = $('#list1');

            var uploader = WebUploader.create({
                auto: true,
                // swf文件路径
                swf: '/static/js/webuploader/Uploader.swf',
                // 文件接收服务端。
                server: '/admin/index/upload_image',
                // 选择文件的按钮。可选。
                // 内部根据当前运行是创建，可能是input元素，也可能是flash.
                pick: '#picker',
                // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
                resize: false,
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/*',
                // sendAsBinary:true,
            });
            var uploader1 = WebUploader.create({
                auto: true,
                // swf文件路径
                swf: '/static/js/webuploader/Uploader.swf',
                // 文件接收服务端。
                server: '/admin/index/upload_image',
                // 选择文件的按钮。可选。
                // 内部根据当前运行是创建，可能是input元素，也可能是flash.
                pick: '#picker1',
                // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
                resize: false,
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/*',
                // sendAsBinary:true,
            });
            uploader.on('uploadSuccess', function(file, result) {
                var status = '';
                if (file) {
                    activityUrl = result.url;
                    status = '上传成功';
                } else {
                    status = '上传失败';
                }
                $list.html('<div id="' + file.id + '" class="item">' +
                    '<h4 class="info">' + file.name + '</h4>' +
                    '<p class="state">' + status + '</p>' +
                    '</div>');
            });
            uploader1.on('uploadSuccess', function(file, result) {
                var status = '';
                if (file) {
                    status = '上传成功';
                    shareIcon = result.url;
                } else {
                    status = '上传失败';
                }
                $list1.html('<div id="' + file.id + '" class="item">' +
                    '<h4 class="info">' + file.name + '</h4>' +
                    '<p class="state">' + status + '</p>' +
                    '</div>');
            });
            // 当有文件被添加进队列的时候
            uploader.on('fileQueued', function(file) {
                $list.html('<div id="' + file.id + '" class="item">' +
                    '<h4 class="info">' + file.name + '</h4>' +
                    '<p class="state">等待上传...</p>' +
                    '</div>');
            });
            // 当有文件被添加进队列的时候
            uploader1.on('fileQueued', function(file) {
                $list1.html('<div id="' + file.id + '" class="item">' +
                    '<h4 class="info">' + file.name + '</h4>' +
                    '<p class="state">等待上传...</p>' +
                    '</div>');
            });

            $('#ctlBtn').on('click', function() {
                type = $(this).data('id');
                uploader.upload();
            })
            $('.creatActivity').click(function() {
                var title = $('.title').val();
                var descption = [];
                var shareTitle = $('.shareTitle').val();
                var length = $('.descption').length;
                var bgColor = $('.background').val() || '89502E';
                for (var i = 0; i < length; i++) {
                    descption.push($('.descption:eq(' + i + ')').val())
                }
                if (!title) {
                    alert('请填写活动名称');
                    return;
                }
                if (descption.length == 0) {
                    alert('请填写活动描述');
                    return;
                }
                if (!activityUrl) {
                    alert('请上传活动图片！！！');
                    return;
                }
                $.post('/admin/index/activity_add', {
                    title: title,
                    descption: descption.join('-----'),
                    picUrl: activityUrl,
                    shareTitle: shareTitle,
                    <<
                    <<
                    << < HEAD
                    shareIcon: shareIcon,
                    bgColor: bgColor
                }, function(res) { ===
                    ===
                    =
                    shareIcon: shareIcon
                }, function(res) { >>>
                    >>>
                    > 2e829 a013b239cadd8cc660065ddb48e16319928
                    if (res.errno == '0') {
                        alert('活动创建成功');
                    } else {
                        alert(res.errmsg);
                    }
                });
            })
        </script>
</body>

</html>