<!DOCTYPE html>
<html lang="en" style='font-size: 31.25px' ;>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=0,target-densitydpi=device-dpi">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/static/css/common.css">
    <title>活动参与</title>
</head>

<body style="background: <%=data.bgColor%>;">
    <div class="wrapper">
        <div class="t-banner">
            <a class="banner-img" href="javascript:void(0)">
                <img src="<%=data.picUrl%>" alt="">
            </a>
        </div>
        <div class="content-bg" id="j-fetch">
            <!-- <div class="form">
                <div class="wrap-1">
                    <div class="wrap-2">
                        <div class="wrap-3">
                            <label for="name">
                            <input type="text" id="name" name="name" value="" placeholder="请输入姓名">
                        </label>
                            <label for="tel">
                            <input type="number" id="tel" name="tel" value="" placeholder="请输入手机号码">
                        </label>
                            <label class="code" for="code">
                            <input type="number" id="code" name="code" value="" placeholder="请输入验证码">
                            <span id="codeBtn" class="disable">获取验证码</span>
                        </label>
                            <div class="button-wrap">
                                <div class="button" id="submitBtn">参与活动</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <section id="j-fetch-inner" class="content1">
                <div class="opr">
                    <input type="text" id="name" name="name" class="borderradius-3" value="" placeholder="请输入姓名">
                    <input id="tel" type="tel" class="borderradius-3" placeholder="请输入您的手机号" maxlength="11">
                    </label>
                    <input type="number" id="code" class="borderradius-3" name="code" value="" placeholder="请输入验证码">
                    <span id="codeBtn" class="disable">获取验证码</span>
                    <div id="capture-tip" class="capture-tip"></div>
                    <input id="submitBtn" class="combtn borderradius-3" type="button" value="立即参与" style="background: rgb(255, 63, 38);">
                </div>
            </section>
        </div>
        <div class="content-bg margin-gap" style="display: block;">
            <section class="rule">
                <h4 class="sec-sub-title">活动介绍</h4>
                <ul class="act-rules">
                    <% var desc=data.registerDescption.split('-----')
                     for(var i = 0; i < desc.length; i++ ) {
                       var index = i+1;
                    %>
                        <li>
                            <!-- <%=index%>. -->
                                <%=desc[i]%>
                        </li>
                        <%}%>
                </ul>
            </section>
        </div>
    </div>
</body>
<script src="/static/js/zepto.min.js"></script>
<script src="/static/js/jweixin-1.0.0.js"></script>
<script src="/static/js/cookie.js"></script>
<script src="/static/js/toast.js"></script>
<script src="/static/js/shareConfig.js"></script>
<script src="/static/js/register.js"></script>

</html>
