<!DOCTYPE html>

<html lang="en" style='font-size: 31.25px' ;>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=0,target-densitydpi=device-dpi">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/static/css/common.css">
    <title>活动详情</title>
    <style>
        .url-box span {
            display: block;
            font-size: 50%;
            width: 100%;
            padding: 0 15px;
        }
        
        .btn-box input {
            width: 80%;
        }
        
        .no-supporter {
            text-align: center;
            display: none;
        }
        
        .no-supporter img {
            width: 15%;
        }
        
        .no-supporter p {
            font-size: 45%;
            padding: 20px;
        }
    </style>
</head>
<!--#89502e  -->

<body style="background: <%=data.bgColor%>;">
    <div class="wrapper">
        <div class="t-banner">
            <a class="banner-img" href="javascript:void(0)">
                <img src="<%=data.picUrl%>" alt="">
            </a>
        </div>
        <div class="content-bg margin-gap" style="display: block;">
            <div class="notJoin" hidden>
                <p class="tip" hidden>您还未参与活动，请赶快参加吧！！！</p>
                <div class="btn-box">
                    <input class="combtn borderradius-3 button go2join" type="button" value="立即参与" style="background: rgb(255, 63, 38);">
                </div>
            </div>
            <div class="joined content-bg margin-gap" hidden>
                <!-- <div class='url-box' hidden>
                    <span>你的<a href="" class='url'>专属链接</a>已经生成，快分享给你的好友吧。</span>
                </div> -->
                <section class="rule help-list">
                    <h4 class="sec-sub-title">助力情况</h4>
                    <ul class="act-rules list">
                        <li>
                            <span class='name'>好友</span>
                            <span class='status'>是否购买</span>
                            <span class='date'>日期</span>
                        </li>
                    </ul>
                    <div class="no-supporter">
                        <!-- <img src="/static/img/fail.png" alt=""> -->
                        <p>暂无助力者，点击右上角，分享此活动页面，获取更多助力者</p>
                    </div>
                </section>
            </div>
            <section class="rule">
                <h4 class="sec-sub-title">活动规则</h4>
                <ul class="act-rules">
                    <% var desc=data.descption.split('-----')
                     for(var i = 0; i < desc.length; i++ ) {
                       var index = i+1;
                    %>
                        <li>
                            <%=index%>.
                                <%=desc[i]%>
                        </li>
                        <%}%>
                </ul>
            </section>
        </div>
    </div>
</body>
<script src="/static/js/zepto.min.js"></script>
<script src="/static/js/jweixin-1.0.0.js"></script>
<script src="/static/js/toast.js"></script>
<script src="/static/js/cookie.js"></script>
<script src="/static/js/shareConfig.js"></script>
<script src="/static/js/detail.js"></script>

</html>