<!DOCTYPE html>

<html lang="en" style='font-size: 31.25px' ;>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=0,target-densitydpi=device-dpi">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/static/css/common.css">
    <title>活动详情</title>
    <style>
        .url-box span {
            display: block;
            font-size: 50%;
            width: 100%;
            padding: 0 15px;
        }
    </style>
</head>

<body style="background: rgb(137, 80, 46);">
    <div class="wrapper">
        <div class="t-banner">
            <a class="banner-img" href="javascript:void(0)">
                <img src="http://p0.meituan.net/coupon/62f66038223742ebdcbe7071cda092f9238523.gif" alt="">
            </a>
        </div>
        <div class="notJoin" hidden>
            <p class="tip">您还未参与活动，请赶快参加吧！！！</p>
            <div class="btn-box">
                <div class="button go2join">立即参与</div>
            </div>
        </div>
        <div class="joined content-bg margin-gap">
            <div class='url-box'>
                <span>你的<a href="" class='url'>专属链接</a>已经生成，快分享给你的好友吧。</span>
            </div>
            <section class="rule help-list">
                <h4 class="sec-sub-title">助力情况</h4>
                <ul class="act-rules list">
                    <li>
                        <span class='name'>好友</span>
                        <span class='status'>是否购买</span>
                        <span class='date'>日期</span>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</body>
<script src="/static/js/zepto.min.js"></script>
<script src="/static/js/jweixin-1.0.0.js"></script>
<script src="/static/js/toast.js"></script>
<script src="/static/js/cookie.js"></script>
<script src="/static/js/shareConfig.js"></script>
<script src="/static/js/detail.js"></script>

</html>